
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page title -->
<section class="page-title" style="background-image:url(images/background/3.jpg)">
    <div class="container">
        <div class="outer-box">
            <h1>Service One</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li class="active">Service One</li>
            </ul>
        </div>
    </div>
</section>


<!-- Services section three -->
<section class="services-section-one sp-two">
    <div class="container">
        <div class="sec-title centered">
            <h1>We Provide Wide Range of <br>Business Services</h1>
        </div>
        <div class="row">
            <!-- Service block three -->
            <div class="services-block-three col-lg-4">
                <div class="inner-box hvr-float-shadow">
                    <div class="image"><img src="images/resource/service-1.jpg" alt=""></div>
                    <div class="lower-content">
                        <div class="icon"><span class="icon-light-bulb"></span></div>
                        <h4>Professional Aproach</h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eiusmtempor encid dolore.</div>
                        <div class="read-more-btn"><a href="#" class="theme-btn">Read More <span class="icon-right-arrow2"></span></a></div>
                    </div>
                </div>
            </div>
            <!-- Service block three -->
            <div class="services-block-three col-lg-4">
                <div class="inner-box hvr-float-shadow">
                    <div class="image"><img src="images/resource/service-2.jpg" alt=""></div>
                    <div class="lower-content">
                        <div class="icon"><span class="icon-piggy-bank"></span></div>
                        <h4>Startup Investment</h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eiusmtempor encid dolore.</div>
                        <div class="read-more-btn"><a href="#" class="theme-btn">Read More<span class="icon-right-arrow2"></span></a></div>
                    </div>
                </div>
            </div>
            <!-- Service block three -->
            <div class="services-block-three col-lg-4">
                <div class="inner-box hvr-float-shadow">
                    <div class="image"><img src="images/resource/service-3.jpg" alt=""></div>
                    <div class="lower-content">
                        <div class="icon"><span class="icon-money"></span></div>
                        <h4>Market Analysis</h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eiusmtempor encid dolore.</div>
                        <div class="read-more-btn"><a href="#" class="theme-btn">Read More<span class="icon-right-arrow2"></span></a></div>
                    </div>
                </div>
            </div>
            <!-- Service block three -->
            <div class="services-block-three col-lg-4">
                <div class="inner-box hvr-float-shadow">
                    <div class="image"><img src="images/resource/service-6.jpg" alt=""></div>
                    <div class="lower-content">
                        <div class="icon"><span class="icon-stats"></span></div>
                        <h4>Growth Tracking</h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eiusmtempor encid dolore.</div>
                        <div class="read-more-btn"><a href="#" class="theme-btn">Read More <span class="icon-right-arrow2"></span></a></div>
                    </div>
                </div>
            </div>
            <!-- Service block three -->
            <div class="services-block-three col-lg-4">
                <div class="inner-box hvr-float-shadow">
                    <div class="image"><img src="images/resource/service-7.jpg" alt=""></div>
                    <div class="lower-content">
                        <div class="icon"><span class="icon-megaphone"></span></div>
                        <h4>Successful Marketing</h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eiusmtempor encid dolore.</div>
                        <div class="read-more-btn"><a href="#" class="theme-btn">Read More<span class="icon-right-arrow2"></span></a></div>
                    </div>
                </div>
            </div>
            <!-- Service block three -->
            <div class="services-block-three col-lg-4">
                <div class="inner-box hvr-float-shadow">
                    <div class="image"><img src="images/resource/service-8.jpg" alt=""></div>
                    <div class="lower-content">
                        <div class="icon"><span class="icon-analytics"></span></div>
                        <h4>Planning Strategies</h4>
                        <div class="text">Lorem ipsum dolor sit amet adipelit sed eiusmtempor encid dolore.</div>
                        <div class="read-more-btn"><a href="#" class="theme-btn">Read More<span class="icon-right-arrow2"></span></a></div>
                    </div>
                </div>
            </div>
            <!-- End block -->
        </div>
    </div>
</section>

<!--Project Section-->
<section class="project-section sp-four grey-bg">

    <!--Porfolio Tabs-->
    <div class="project-tab">
        <div class="container">
            <!--Top content-->
            <div class="top-content">
                <div class="row m-0 justify-content-md-between align-items-center">
                    <div class="sec-title">
                        <h1>We’ve Done Lot’s of Work, Let’s <br>Check Some From Here</h1>
                    </div>
                    <div class="tab-btns-box">
                        <!--Tabs Header-->
                        <div class="tabs-header">
                            <ul class="product-tab-btns clearfix">
                                <li class="p-tab-btn active-btn" data-tab="#p-tab-1">All</li>
                                <li class="p-tab-btn" data-tab="#p-tab-2">Design</li>
                                <li class="p-tab-btn" data-tab="#p-tab-3">Graphic</li>
                                <li class="p-tab-btn" data-tab="#p-tab-4">Photography</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Tabs Content-->
        <div class="p-tabs-content">
            <!--Portfolio Tab / Active Tab-->
            <div class="p-tab active-tab" id="p-tab-1">
                <div class="project-carousel owl-theme owl-carousel">

                    <!--Gallery Block-->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/gallery/1.jpg" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <div class="content-text">
                                                <div class="category">Corporate</div>
                                                <h3><a href="projects-detail.html">Business Solution</a></h3>
                                                <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.sint occaecat cuidatat non proident sunt in culpa officia.</div>
                                                <div class="link-btn"><a href="#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!--Gallery Block-->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/gallery/2.jpg" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <div class="content-text">
                                                <div class="category">Corporate</div>
                                                <h3><a href="projects-detail.html">Business Solution</a></h3>
                                                <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.sint occaecat cuidatat non proident sunt in culpa officia.</div>
                                                <div class="link-btn"><a href="#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!--Gallery Block-->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/gallery/3.jpg" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <div class="content-text">
                                                <div class="category">Corporate</div>
                                                <h3><a href="projects-detail.html">Business Solution</a></h3>
                                                <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.sint occaecat cuidatat non proident sunt in culpa officia.</div>
                                                <div class="link-btn"><a href="#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!--Gallery Block-->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/gallery/4.jpg" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <div class="content-text">
                                                <div class="category">Corporate</div>
                                                <h3><a href="projects-detail.html">Business Solution</a></h3>
                                                <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.sint occaecat cuidatat non proident sunt in culpa officia.</div>
                                                <div class="link-btn"><a href="#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                </div>
            </div>

            <!--Portfolio Tab-->
            <div class="p-tab" id="p-tab-2">
                <div class="project-carousel owl-theme owl-carousel">

                    <!--Gallery Block-->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/gallery/4.jpg" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <div class="content-text">
                                                <div class="category">Corporate</div>
                                                <h3><a href="projects-detail.html">Business Solution</a></h3>
                                                <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.sint occaecat cuidatat non proident sunt in culpa officia.</div>
                                                <div class="link-btn"><a href="#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!--Gallery Block-->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/gallery/3.jpg" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <div class="content-text">
                                                <div class="category">Corporate</div>
                                                <h3><a href="projects-detail.html">Business Solution</a></h3>
                                                <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.sint occaecat cuidatat non proident sunt in culpa officia.</div>
                                                <div class="link-btn"><a href="#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!--Gallery Block-->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/gallery/2.jpg" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <div class="content-text">
                                                <div class="category">Corporate</div>
                                                <h3><a href="projects-detail.html">Business Solution</a></h3>
                                                <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.sint occaecat cuidatat non proident sunt in culpa officia.</div>
                                                <div class="link-btn"><a href="#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!--Gallery Block-->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/gallery/1.jpg" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <div class="content-text">
                                                <div class="category">Corporate</div>
                                                <h3><a href="projects-detail.html">Business Solution</a></h3>
                                                <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.sint occaecat cuidatat non proident sunt in culpa officia.</div>
                                                <div class="link-btn"><a href="#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                </div>
            </div>

            <!--Portfolio Tab-->
            <div class="p-tab" id="p-tab-3">
                <div class="project-carousel owl-theme owl-carousel">

                    <!--Gallery Block-->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/gallery/3.jpg" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <div class="content-text">
                                                <div class="category">Corporate</div>
                                                <h3><a href="projects-detail.html">Business Solution</a></h3>
                                                <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.sint occaecat cuidatat non proident sunt in culpa officia.</div>
                                                <div class="link-btn"><a href="#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!--Gallery Block-->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/gallery/1.jpg" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <div class="content-text">
                                                <div class="category">Corporate</div>
                                                <h3><a href="projects-detail.html">Business Solution</a></h3>
                                                <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.sint occaecat cuidatat non proident sunt in culpa officia.</div>
                                                <div class="link-btn"><a href="#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!--Gallery Block-->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/gallery/2.jpg" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <div class="content-text">
                                                <div class="category">Corporate</div>
                                                <h3><a href="projects-detail.html">Business Solution</a></h3>
                                                <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.sint occaecat cuidatat non proident sunt in culpa officia.</div>
                                                <div class="link-btn"><a href="#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!--Gallery Block-->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/gallery/4.jpg" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <div class="content-text">
                                                <div class="category">Corporate</div>
                                                <h3><a href="projects-detail.html">Business Solution</a></h3>
                                                <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.sint occaecat cuidatat non proident sunt in culpa officia.</div>
                                                <div class="link-btn"><a href="#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                </div>
            </div>

            <!--Portfolio Tab-->
            <div class="p-tab" id="p-tab-4">
                <div class="project-carousel owl-theme owl-carousel">

                    <!--Gallery Block-->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/gallery/1.jpg" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <div class="content-text">
                                                <div class="category">Corporate</div>
                                                <h3><a href="projects-detail.html">Business Solution</a></h3>
                                                <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.sint occaecat cuidatat non proident sunt in culpa officia.</div>
                                                <div class="link-btn"><a href="#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!--Gallery Block-->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/gallery/4.jpg" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <div class="content-text">
                                                <div class="category">Corporate</div>
                                                <h3><a href="projects-detail.html">Business Solution</a></h3>
                                                <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.sint occaecat cuidatat non proident sunt in culpa officia.</div>
                                                <div class="link-btn"><a href="#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!--Gallery Block-->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/gallery/2.jpg" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <div class="content-text">
                                                <div class="category">Corporate</div>
                                                <h3><a href="projects-detail.html">Business Solution</a></h3>
                                                <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.sint occaecat cuidatat non proident sunt in culpa officia.</div>
                                                <div class="link-btn"><a href="#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!--Gallery Block-->
                    <div class="gallery-block">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="images/gallery/3.jpg" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <div class="content-text">
                                                <div class="category">Corporate</div>
                                                <h3><a href="projects-detail.html">Business Solution</a></h3>
                                                <div class="text">Lorem ipsum dolor sit amet constur adipelit sed do eiusm tempor magna aliqu enim ad minim veniam quis nostrud.exercittion ullamco laboris nisi ut aliquip excepteur.sint occaecat cuidatat non proident sunt in culpa officia.</div>
                                                <div class="link-btn"><a href="#" class="theme-btn btn-style-two small-btn">Read More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</section>
<!--End Project Section-->
<!-- Testimonial Section -->
<section class="testimonial-section-two sp-one">
    <div class="container">

        <div class="row">
            <div class="col-lg-8">
                <div class="content-wrapper wow fadeInUp" data-wow-duration="1.2s">
                    <div class="sec-title">
                        <h1>What Our Clients <br>Are Saying</h1>
                    </div>
                    <ul class="bxslider ">
                        <li>
                            <div class="testimonial-block-two">
                                <div class="inner-box">
                                    <div class="quote"><img src="images/icons/quote-icon.png" alt=""></div>
                                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit eiusm tempor idunt ut labore dolore magna aliqua.enim ad ven.quis nostrud exercitation ullamc o laboris.aliquip ex ea commodo consequat duis aute irure dolor in reprehen derit in voluptate aute cillum dolore eu fugiat</div>
                                    <h4>Birte Janssen</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="testimonial-block-two">
                                <div class="inner-box">
                                    <div class="quote"><img src="images/icons/quote-icon.png" alt=""></div>
                                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit eiusm tempor idunt ut labore dolore magna aliqua.enim ad ven.quis nostrud exercitation ullamc o laboris.aliquip ex ea commodo consequat duis aute irure dolor in reprehen derit in voluptate aute cillum dolore eu fugiat</div>
                                    <h4>Mark William</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="testimonial-block-two">
                                <div class="inner-box">
                                    <div class="quote"><img src="images/icons/quote-icon.png" alt=""></div>
                                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit eiusm tempor idunt ut labore dolore magna aliqua.enim ad ven.quis nostrud exercitation ullamc o laboris.aliquip ex ea commodo consequat duis aute irure dolor in reprehen derit in voluptate aute cillum dolore eu fugiat</div>
                                    <h4>John Smith</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="slider-pager slide-nav">
                        <ul class="nav-link list-inline">
                            <li id="slider-prev"></li>
                            <li id="slider-next"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="slider-pager">
                    <ul class="list-inline thumb-box">
                        <li>
                            <a class="active" data-slide-index="0" href="#"><img src="images/resource/team-4.jpg" alt=""></a>
                        </li>
                        <li>
                            <a data-slide-index="1" href="#"><img src="images/resource/team-5.jpg" alt=""></a>
                        </li>
                        <li>
                            <a data-slide-index="2" href="#"><img src="images/resource/team-6.jpg" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

